h1 {
    color: rgb(0, 77, 112);
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0px;
}

h2 {
    color: rgb(28, 139, 190);
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 6px;
}

h4 {
    margin-bottom: 3px;
}

h7 {
    font-weight: bold;
    font-size: 20px;
}

p {
    margin-top: 0px;
    margin-bottom: 3px;
}

.spacer {
    margin-top: 0px;
    margin-bottom: 20px;
}

.button2048 {
    background-color: rgb(229, 202, 68);
    color: white;
    height: 64px;
    width: 64px;
    border-radius: 8px;
    border-width: 0px;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 0.2s,
        background-color 0.2s,
        box-shadow 0.2s;
}

.button2048:hover {
    opacity: 0.8;
    background-color: rgb(27, 56, 205);
    box-shadow: 3px 3px 1px rgba(50, 50, 50, 0.2);
}

.blueButton {
    background-color: rgb(46, 170, 168);
    color: white;
    height: 36px;
    width: 62px;
    border-radius: 2px;
    border-width: 0px;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 0.2s,
        background-color 0.2s,
        box-shadow 0.2s;
}

.blueButton:hover {
    opacity: 0.9;
    box-shadow: 3px 3px 0px rgb(57, 76, 171);
}